.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.item span, .item p, .item img, .item a {
    margin-bottom: 30px;
}

.item img {
    width: 600px;
}

.item span {
    font-weight: 600;
}

.item p {
    font-style: italic;
}

.item a {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 30px;
}

.item a:hover {
    background-color: #888;
    color: #ddd;
}